.table-button-container {
    padding-bottom: 16px;
}

.table-button + .table-button {
    margin-left: 8px;
}

.cell-button {
    margin-left: 8px;
}

table {
    width: 100%;
}

@mixin mat-table-columns($columns) {
    .mat-column- {
        @each $colName, $props in $columns {
            $width: map-get($props, "width");

            &#{$colName} {
                flex: $width;
                min-width: $width;
                text-align: center;

                @if map-has-key($props, "color") {
                    color: map-get($props, "color");
                }
            }
        }
    }
}

@include mat-table-columns(
    (
        actions: (
            width: 5rem,
        ),
        no: (
            width: 5rem,
            color: gray,
        ),
        expr: (
            width: 5rem,
        ),
        enabled: (
            width: 5rem,
        ),
        params: (
            width: 30rem
        )
    )
);
