.table-button-container {
    padding-bottom: 16px;
}

.table-button + .table-button {
    margin-left: 8px;
}

.cell-button {
    margin-left: 8px;
}

table {
    width: 100%;
}

@mixin mat-table-columns($columns) {
    .mat-column- {
        @each $colName, $props in $columns {
            $width: map-get($props, "width");

            &#{$colName} {
                flex: 0 0 $width;
                width: $width;
                text-align: center;
                word-wrap: break-word;
                word-break: break-word;
            }
        }
    }
}

@include mat-table-columns(
    (
        actions: (width: 15%),
        no:      (width: 5%),
        expr:    (width: 15%),
        enabled: (width: 5%),
        params:  (width: 65%)
    )
);
